body {background-color: #10E689;
    font-family:Roboto; 
}

h1, h2, h3, h4, h5, h6 {
    font-family:oswald;
}


header {
    background-color:#1CFFE1;
}




/* Hobbies List */

#hobbies ul {
    font-family: serif;
    font-size: xx-large;
    width: 50;
margin-left: 2rem;
color: #1aeb90;
border: 5px;
}

/* Photo Gallery */

#gallery {
    text-align: center;
}

#gallery img {
    max-width: 90%;
}

/* Article */

article p {
border: 1px solid;
padding-top:0rem;
margin: 0px;
text-align: justify;
}
